* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
}

:root {
  --white: #FFF;
  --black: #000;

  --blue-100: #e6f0ff;
  --blue-500: #007BFF;
  --blue-700: #0056b3;

  --dark-900: #101026;
  --dark-700: #1d1d2e;

  --whiteOff: #F8F8F8;

  --gray-100: #8a8a8a;
  --green-900: #3fffa3;
  --red-900: #FF3f4b;

  --green-status: #4caf50;
  --orange-status: #ff9800;
  --red-status: #f44336;
  --gray-text: #667085;
  --dark-text: #101828;
  --border-color: #eaecf0;
  --primary-blue: #0056b3;
  --primary-blue-dark: #004494;
  --background-light: #f9fafb;
}



button {
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  background-color: var(--white);
}

body,
input,
textarea,
select,
button {
  font: 400,
    1rem sans-serif; // 1rem = 16px
}

main {
  margin-left: 250px;
  /* Espaço para o sidebar */
  padding: 20px;
  transition: margin-left 0.3s ease;
}

.sidebar {
  height: 100vh;
  /* Sidebar ocupa a altura total */
  position: fixed;
  /* Fixa o sidebar */
  top: 0;
  left: 0;
  width: 250px;
  /* Largura do sidebar */
  z-index: 999;
  /* Garante que o sidebar fique acima de outros conteúdos */
  overflow-y: auto;
  background-color: var(--dark-700);
  transition: transform 0.3s ease;
}

.sidebar-collapsed {
  transform: translateX(-100%);
}

@media (max-width: 720px) {
  html {
    font-size: 87.5%; // 14px;
  }
}

/* Responsividade: Sidebar colapsa em telas pequenas */
@media (max-width: 768px) {
  .sidebar {
    transform: translateX(-100%);
    /* Sidebar começa oculto */
  }

  .sidebar-expanded {
    transform: translateX(0);
    /* Sidebar aparece quando expandido */
  }

  main {
    margin-left: 0;
    /* O conteúdo não precisa de espaço extra em telas pequenas */
  }
}

@media (max-width: 1080px) {
  html {
    font-size: 93.75%; // 15px;
  }
}